/* start fonts family google */
@import url('https://fonts.googleapis.com/css?family=Lora|Work+Sans&display=swap');
/* end fonts family google  */

/* start body */
body{
    font-family: 'Lora', serif;
    margin: 0;
}
/* start header */
.standard{
    height: 100vh;
    background: url(/img/design-interior-1.jpg) no-repeat;
    background-position: top right;
    background-size: 55% 100%;
    position: relative;
}
.standard h1{
    font-size: 5rem;
    letter-spacing: 40px;
    font-weight: 100;
    position: absolute;
    top: 35%;
    left: 10%;
}
.standard p {
    position: absolute;
    top: 55%;
    left: 7.5%;
    font-size: 24px
}
/* start navigtion */
nav{
    background-color: #2e2e2e;
    font-family: 'Work Sans', sans-serif;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
    padding-right: 110px
}
nav ul li:nth-child(2){
    padding-right: 110px;     
}
nav ul li:nth-child(4){
    padding-left: 0;
}
nav ul li:nth-child(1){
    padding-left: 400px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}
/* end navigtion */
/* end header */

/* start Main */
.story{
    height: 100vh;
    background-color: #2e2e2e;
    background-image: url(/img/story.jpg);
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-size: 50% 60vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.story div{
    width: 43%;
    color: #fff;
    margin-right: 3rem;
}
.story h1{
    font-size: 50px;
    text-align: center;
    margin: 0;
}
.story p{
    font-family: 'Work Sans', sans-serif;
    line-height: 33px;
    color: #999;
    font-size: 20px
}
.features div:first-child{
    width: 55%;
    margin: 0 auto;
    padding-top: 13rem;
    padding-bottom: 6rem;
}
.features h1{
    font-size: 50px;
    text-align: center;
}
.features p{
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    color: #555;
}
.features div:nth-child(2){
    display: flex;
    justify-content: space-around;
}
.features img{
    width: 25%;
}
.features div:nth-child(3){
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.features div:nth-child(3) p {
    font-size: 15px;
    color: #555;
}
.features iframe{
    width: 400px;
    height: 200px;
    margin-left: 36%;
    margin-bottom: 8rem;
}
/* end Main */
/* start footer */
footer{
    height: 100vh;
    background-color: #2e2e2e;
    color: #fff;
    position: relative;
}
.content-form{
    width: 30%;
    height: 80%;
    font-size: 24px;
    position: absolute;
    top: 35%;
    left: 60%;
}
.content-form input, textarea{
    display: block;
    margin-bottom: 20px;
    width: 96%;
    padding: 5px
}
.content-form input[type="submit"]{
    margin-top: 40px;
    width: 15%;
}
footer div:nth-of-type(2){
    width: 40%;
}
footer div:nth-child(2) h1{
    font-size: 50px
}
footer div:nth-child(2) p{
    font-family: 'Work Sans', sans-serif;
    color: #999;
    font-size: 20px;
}
footer div:nth-child(2){
    position: absolute;
    top: 35%;
    left: 10%;
}
.end-1{
    background-color: #1d2c2f;
    height: 15%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 100%;
}
.end-1 ul li{
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
}
.end-1 ul li:nth-child(1),li:nth-child(2){
    padding-right: 310px;
}
.end-1 ul li:nth-child(3),li:nth-child(4),li:nth-child(5){
    padding-left: 40px;
}
.end-1 li a{
    text-decoration: none;
    color: #fff;
}
/* end footer */